# Stock Market Prediction Project
This a an MVP project. Just to proof the prediction might work. There are many ways to improve this script. Many traders out there are using algortihmic trading, I don't care to do that for perosnal gain. I will update this project from time to time.
The goal is predict stock market prices for the current period based on historical data, I can use more data or more sophisticated algortihms to imporve my. Mean Absolute error will be the coost fucntion
This Data is pulled from <a href='https://finance.yahoo.com/'> Yahoo finance </a>, my to go place for finance data since MBA days. Sadly, they stopped support to thier API, otherwise I would have added that to the script.
To do actual trading with this based on this algortihm is unreal, since you need also to add stop loss fucntions and similar options.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, date
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

data = pd.read_csv('GSPC.csv')
data['date'] = pd.to_datetime(data['Date'])
data.head()

       Date   Open   High    Low  Close  Adj Close   Volume       date
0  1/3/1950  16.66  16.66  16.66  16.66      16.66  1260000 1950-01-03
1  1/4/1950  16.85  16.85  16.85  16.85      16.85  1890000 1950-01-04
2  1/5/1950  16.93  16.93  16.93  16.93      16.93  2550000 1950-01-05
3  1/6/1950  16.98  16.98  16.98  16.98      16.98  2010000 1950-01-06
4  1/9/1950  17.08  17.08  17.08  17.08      17.08  2520000 1950-01-09

In [2]:
# sorted values for use of DF.rolling later
data.sort_values('date', inplace=True, ascending=True)

# Shift added because rolling includes the current period, and we don't want the current day to impact our analysis, since it should be unknow, nad we trying to predict it
data['day_5'] = data['Adj Close'].rolling(window=5).mean().shift(1)

data['day_365'] = data['Adj Close'].rolling(window=500).mean().shift(1) #one business years is approximatley 200 busienss days

data = data[data['date']>(datetime(year=1951, month=1, day=2))]

data.dropna(axis=0, inplace=True)

In [3]:
train = data[data['date']<datetime(year=2013, month=1, day=1)]
test = data[data['date']>=datetime(year=2013, month=1, day=1)]

In [4]:
lr = LinearRegression()
lr.fit(train[['day_5','day_365']], train['Close'])
prediction = lr.predict(test[['day_5','day_365']])

In [5]:
mae = mean_absolute_error(test['Close'],prediction).mean()

print('Mean Absolute Error = {}'.format(mae))

Mean Absolute Error = 18.135219478636046

In [6]:
print('date ={1} , current price=2658, predicted price={0}'.format(prediction[-1], date.today()))

date =2019-01-30 , current price=2658, predicted price=2644.5797586885224

#### Add Trading volume as indicator

In [7]:
data['volume_5'] = data['Volume'].rolling(window=5).mean().shift(1)
data['volume_365'] = data['Volume'].rolling(window=500).mean().shift(1)
data.head(8)

,Date,Open,High,Low,Close,Adj Close,Volume,date,day_5,day_365,volume_5,volume_365
500,1/4/1952,23.920000,23.920000,23.920000,23.920000,23.920000,1480000,1952-01-04,23.758,20.37350,NaN,NaN
501,1/7/1952,23.910000,23.910000,23.910000,23.910000,23.910000,1540000,1952-01-07,23.812,20.38802,NaN,NaN
502,1/8/1952,23.820000,23.820000,23.820000,23.820000,23.820000,1390000,1952-01-08,23.856,20.40214,NaN,NaN
503,1/9/1952,23.740000,23.740000,23.740000,23.740000,23.740000,1370000,1952-01-09,23.866,20.41592,NaN,NaN
504,1/10/1952,23.860001,23.860001,23.860001,23.860001,23.860001,1520000,1952-01-10,23.854,20.42944,NaN,NaN
505,1/11/1952,23.980000,23.980000,23.980000,23.980000,23.980000,1760000,1952-01-11,23.850,20.44300,1460000.0,NaN
506,1/14/1952,24.160000,24.160000,24.160000,24.160000,24.160000,1510000,1952-01-14,23.862,20.45690,1516000.0,NaN
507,1/15/1952,24.059999,24.059999,24.059999,24.059999,24.059999,1340000,1952-01-15,23.912,20.47104,1510000.0,NaN

In [8]:
### created a function so I don't  reapeat code multible times

In [9]:
def LR(features):
    lr = LinearRegression()
    data.dropna(axis=0, inplace=True)
    train = data[data['date']<datetime(year=2013, month=1, day=1)]
    test = data[data['date']>=datetime(year=2013, month=1, day=1)]
    lr.fit(train[features], train['Close'])
    prediction = lr.predict(test[features])
    mae = mean_absolute_error(test['Close'],prediction).mean()
    print('Mean Absolute Error = {}'.format(mae))
    print('date ={1} , current price=2658, predicted price={0}'.format(prediction[-1], date.today()))
    return

In [10]:
LR(['day_5','day_365','volume_5','volume_365'])

Mean Absolute Error = 18.05518263568091
date =2019-01-30 , current price=2658, predicted price=2645.3755019881246

The current error is around 18 USD, that's less than 1% of the index price, yet there is room for imporvements, by inveting relative features. Such as variance as predictor

In [11]:
# using historice price variance as indicator
data['pvar_5'] = data['Adj Close'].rolling(window=5).var().shift(1)

In [12]:
LR(['day_5','day_365','volume_5','volume_365','pvar_5'])

Mean Absolute Error = 17.963575090150275
date =2019-01-30 , current price=2658, predicted price=2646.9919229100833

In [13]:
# using historice price standard deviation as indicator
data['pstd_365'] = data['Adj Close'].rolling(window=500).var().shift(1)

In [14]:
LR(['day_5','day_365','volume_5','volume_365','pvar_5','pstd_365'])

Mean Absolute Error = 17.9808765783575
date =2019-01-30 , current price=2658, predicted price=2646.8488749924068

### Time to try a new preiction algorithm